/* Simulating a library like FontAwesome*/
.fa-home::before {
    content: "\f015";
}

.fa-user::before {
    content: "\f007";
}

.fa-check::before {
    content: "\f00c";
}
 
/* Generic class without content, just to test autocomplete existence*/ 
.custom-icon-settings {
    color: red;
}
